.hidden {
	display: none;
}

.canvasContainer {
	border: 1px solid #000;
}

.canvasContainer,
#start-menu,
#pause-menu,
#black,
#win {
	width: 850px;
	height: 400px;
	text-align: center;
}

#start-menu,
#pause-menu,
#black,
#win {
	position: absolute;
}

#start-menu,
#pause-menu,
#win {
	font-size: 30px;
	color: #fff;
}

#start-menu,
#pause-menu {
	background-color: rgba(0,0,0,0.3);
}

#pause-menu {
	background-image: url("../images/paused-orbitron.png");
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes fade-out-in-out {
	from {
		opacity: 0;
	}

	50% {
		opacity: 100;
	}

	to {
		opacity: 0;
	}
}

#black {
	background-color: #000;
	opacity: 0;
}

.fadeOutInOut {
	animation-duration: 0.5s;
	animation-name: fade-out-in-out;
}